body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

#chartdiv {
  width: 90%;
  margin-left: 5%;
  height: 80vh;
  border: 3px solid rgb(63, 25, 59);
}

#labelsdiv {
  width: 90%;
  margin-left: 5%;
  height: auto;
  border: 3px solid rgb(63, 25, 59);
}

#labelsp {
  font-size: small;
}

#em1 {
  font-size: medium;
  color: #e60049;
  font-style: normal;
  font-weight: bold;
}
#em2 {
  font-size: medium;
  color: #0bb4ff;
  font-style: normal;
  font-weight: bold;
}
#em3 {
  font-size: medium;
  color: #50e991;
  font-style: normal;
  font-weight: bold;
}

#em4 {
  font-size: medium;
  color: #e6d800;
  font-style: normal;
  font-weight: bold;
}

#em5 {
  font-size: medium;
  color: #9b19f5;
  font-style: normal;
  font-weight: bold;
}
#em6 {
  font-size: medium;
  color: #ffa300;
  font-style: normal;
  font-weight: bold;
}

#em7 {
  font-size: medium;
  color: #dc0ab4;
  font-style: normal;
  font-weight: bold;
}

#em8 {
  font-size: medium;
  color: #b3d4ff;
  font-style: normal;
  font-weight: bold;
}

#em9 {
  font-size: medium;
  color: #00bfa0;
  font-style: normal;
  font-weight: bold;
}
#em10 {
  font-size: medium;
  color: #095256;
  font-style: normal;
  font-weight: bold;
}
#em11 {
  font-size: medium;
  color: #1a53ff;
  font-style: normal;
  font-weight: bold;
}


.titleClass {
  font-size: 40px;
  font-weight: 300;
  background-image: linear-gradient(45deg, #553c9a, #200f0c);
  color: transparent;
  background-clip: text;
  margin-left: 3%;
  -webkit-background-clip: text;
}

body p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-left: 3%;
  margin-right: 3%;
  font-size: 18px;
}

#analysis {
  line-height: 32px;
}

body h3 {
  margin-left: 3%;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}